body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

.bar-icon {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.btn-icon {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

#mine-top-info {
  font-size: 12px;
}

.rotate {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

code {
  background-color: #eee;
  color: darkgray !important;
  border: 0;
  display: block;
  padding: 8px;
  border-radius: 10px;
}

.text-small {
  font-size: 12px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#mine-screen {
  height: 100%;
  width: 100%;
}

.mine-top {
  width: 100%;
  top: 0;
  position: absolute;
}

.mine-chart {
  z-index: -1;
  margin-top: -55px;
}

.mine-buttom {
  position: absolute;
  bottom: 0;
  width: 100%;
}